.poca-music-area .poca-music-content-play {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 260px);
    flex: unset;
    max-width: unset; 
    width: unset; 
    position: relative;
    z-index: 1;
    padding: 30px;
}

.player-button-play {
    font-weight: 600;
    letter-spacing: 1px;
    margin: 1em;
    padding: 0;
    width: 100px;
    text-transform: uppercase;
    border-radius: 50px;
    line-height: 47px;
    z-index: 10;
    height: 45px;
    background-color: #f55656;
    color: #ffffff;
}

.spotfy-style-play {
    font-weight: 600;
    letter-spacing: 1px;
    margin: 1em;
    padding: 0;
    width: 100px;
    text-transform: uppercase;
    border-radius: 50px;
    line-height: 47px;
    z-index: 10;
    height: 45px;
    background-color: #1DB954;
    color: #ffffff;
}

.partecipant a {
    margin: 5px;
    text-align: center !important;
    animation: joinin 0.5s forwards;
  }
  
  @keyframes joinin {
    from {
      transform: scale(1.5);
      opacity: 1;
      color: #1DB954;
    }
    to {
        transform: scale(1);
        opacity: 1;
        color: black;
    }
  }


  #volume_range {
      position: relative;
      top: 40%;
  }

  .slidecontainer label {
    position: relative;
    top: 40%;
    font-size: 18px;
    margin-right: 0.5em;
   }